@import '../../mixins';
@import '../../variables';

.section1 {
  @include sectionBackground('../../assets/bg/bg-1.jpg', 0.45);
  padding: 20vh 0 0 15vw;

  @media (max-width: $tablet) {
    padding: 140px 40px 0;
    margin-bottom: 400px;
    height: 576px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 240px;
  }

  &_title {
    width: min(600px, 100%);

    // position: relative;
    // top: 260px;
    // left: 315px;
    // top: 24vh;
    // left: 16.5vw;
  }

  &_baner {
    @media (max-width: $tablet) {
      top: 576px;
    }
  }
}
