@import '../../variables';

.navigation {
  position: fixed;
  top: 25vh;
  right: calc(min(9vw, 178px) / 2);
  z-index: $middle;

  width: 25px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (max-width: $tablet) {
    display: none;
  }

  &_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    cursor: pointer;

    border-radius: 50%;
    border: 1px solid transparent;
    transition: border 0.3s;

    &:hover {
      // border: 1px solid rgba($white, 0.3);

      span {
        background: $gold;
      }
    }

    span {
      width: 7px;
      height: 7px;

      background: rgba($white, 0.3);
      cursor: pointer;

      border-radius: 50%;
      transition: background 0.3s;
    }

    &-active {
      border: 1px solid rgba($white, 0.3);

      span {
        background: $gold;
      }
    }
  }
}
