@import '../../variables';
@import '../../mixins';

.regForm {
  width: 500px;
  
  &_btn {
    width: 100%;

    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.45em;
    text-transform: uppercase;
    color: $gold;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include changeArrowColor($gold);
  }
}
