@import '../../mixins';
@import '../../variables';

.section3 {
  @media (max-width: $tablet) {
    height: fit-content;
  }

  &_list {
    display: flex;
    width: 100%;
    height: 100vh;

    @media (max-width: $tablet) {
      flex-direction: column;
      height: 100%;
    }
  }

  &_item {
    width: 100%;
    height: 100%;
    padding-inline: 10px;
    cursor: pointer;

    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;

    transition: all 0.5s;

    @media (max-width: $tablet) {
      padding: 40px 75px;
      flex-direction: column;
    }

    @media (max-width: $mobile) {
      padding: 20px 15px;
      flex-direction: column;
    }

    &:nth-child(1) {
      @include sectionBackground('../../assets/bg/bg-3-1.jpg', 0.65);
    }
    &:nth-child(2) {
      @include sectionBackground('../../assets/bg/bg-3-2.jpg', 0.65);
      @media (min-width: $tablet) {
        @include customBorders;
      }
    }
    &:nth-child(3) {
      @include sectionBackground('../../assets/bg/bg-3-3.jpg', 0.65);
    }

    &-active {
      flex-grow: 4;

      .section3_item_title {
        color: $gold;
        border-right: 2px solid #999;
      }
      .section3_item_wrap {
        opacity: 1;
        width: min(480px, 30vw);
        padding-left: 50px;
      }

      @media (max-width: $tablet) {
        .section3_item_title {
          border-right: none;
          border-bottom: 2px solid #999;
        }

        .section3_item_wrap {
          width: inherit;
          height: 250px;
          padding: 30px 0 0 0;
        }
      }
    }

    &_title {
      font-family: 'Bruno Ace', cursive;
      font-weight: 400;
      font-size: 36px;
      line-height: 43px;
      text-transform: uppercase;
      color: $white;

      transition: all 0.5s;

      width: min(175px, 14vw);
      height: min(175px, 14vw);
      display: grid;
      place-items: center;
      border-radius: 50%;
      border-right: 2px solid transparent;

      @media (max-width: $laptop) {
        font-size: 28px;
        line-height: 36px;
      }

      @media (max-width: $tablet) {
        font-size: 36px;
        line-height: 43px;

        width: 175px;
        height: 175px;

        border-right: none;
        border-bottom: 2px solid transparent;
      }

      @media (max-width: $mobile) {
        font-size: 28px;
        line-height: 36px;

        width: 150px;
        height: 150px;
      }
    }

    &_wrap {
      width: 0;
      opacity: 0;
      overflow: hidden;
      transition: all 0.5s;

      @media (max-width: $tablet) {
        width: 100%;
        height: 0;
      }
    }

    &_description {
      width: calc(min(480px, 30vw) - 50px);
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      color: $white;
      text-transform: uppercase;

      margin-bottom: 35px;

      @media (max-width: $tablet) {
        width: 100%;
        text-align: center;
        margin-bottom: 95px;

        font-size: 16px;
        line-height: 24px;
      }

      @media (max-width: $mobile) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &_link {
      font-family: 'Open Sans';
      width: min(350px, 23vw);
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      letter-spacing: 0.45em;
      text-transform: uppercase;
      color: $white;

      display: flex;
      align-items: center;
      justify-content: space-between;

      cursor: pointer;
      transition: color 0.3s;

      &:last-child {
        margin-top: 70px;
        font-size: 16px;
      }

      &:hover {
        color: $gold;
        @include changeArrowColor($gold);
      }

      @media (max-width: $tablet) {
        margin: 0 auto;
        width: 300px;
        font-size: 18px;

        &:last-child {
          display: none;
        }
      }

      @media (max-width: $mobile) {
        width: fit-content;
        font-size: 16px;
      }
    }
  }
}
