@import '../../variables';

.thankYou {
  &_title {
    width: 500px;
    margin-inline: auto;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    color: $white;

    margin-bottom: 35px;
  }

  &_subtitle {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: $white;

    margin-bottom: 250px;
  }
}
