@import '../../mixins';
@import '../../variables';

.section2 {
  @include sectionBackground('../../assets/bg/bg-2.jpg', 0.6);

  @media (max-width: $tablet) {
    display: none;
  }

  &_title {
    width: 530px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.3em;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    padding-top: 110px;
    margin: 0 auto 64px;
  }

  &_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;

    margin-bottom: 15vh;

    @media (max-width: $laptop) {
      margin-bottom: 9vh;

    }
  }

  &_item {
    padding: 0 min(144px, 8vw);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;

    &:nth-child(2) {
      @include customBorders;
    }

    &_title {
      font-family: 'Bruno Ace', cursive;
      font-style: normal;
      font-weight: 400;
      font-size: 64px;
      line-height: 70px;
      color: $white;

      display: flex;
      align-items: center;
      text-align: center;

      @media (max-width: $laptop) {
        font-size: 44px;
        line-height: 52px;
      }
    }

    &_subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 41px;
      text-align: center;
      text-transform: uppercase;
      color: $white;

      @media (max-width: $laptop) {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  &_link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.45em;
    color: $white;
    text-transform: uppercase;

    display: flex;
    gap: 10px;
    align-items: center;

    margin-left: 10vw;
    
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $gold;

      @include changeArrowColor($gold);
    }
  }
}
