@import '../../mixins';
@import '../../variables';

.galleryItem {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100vw;
  height: 100vh;
  position: relative;

  @media (max-width: $tablet) {
    padding: 100px 70px;
  }

  @media (max-width: $mobile) {
    padding: 100px 35px;
  }
}
