@import '../../mixins';
@import '../../variables';

.section6 {
  @include sectionBackground('../../assets/bg/bg-5.jpg', 0.6);

  &_list {
    display: grid;
    width: fit-content;
    // grid-template-columns: 580px 420px 360px;
    grid-template-columns: 35vw 20vw 23vw;
    grid-template-rows: 55vh 25vh;
    margin: 0 auto;

    & > * {
      min-width: 0;
      min-height: 0;
      overflow: hidden;
    }
  }

  &_item {
    position: relative;
    @include customBorders(0);

    // aspect-ratio: 1 / 1;

    cursor: pointer;

    &:hover {
      @include customBorders(1);

      .section6_item_overlay {
        background: transparent;
      }
      .section6_item_title {
        opacity: 1;
      }
    }

    &-active {
      @include customBorders(1);

      .section6_item_overlay {
        background: transparent;
      }
      .section6_item_title {
        opacity: 1;
      }
    }

    &:nth-child(1) {
      width: 85%;
      height: 80%;
      justify-self: flex-end;
      align-self: flex-end;
    }

    &:nth-child(3) {
      width: 70%;
      align-self: flex-end;
    }

    &:nth-child(4) {
      width: 36%;
      justify-self: flex-end;
    }

    &:nth-child(5) {
      width: 80%;
    }

    // &:nth-last-child(n + 3) {
    //   align-self: flex-end;
    // }

    // &:nth-child(4) {
    //   justify-self: flex-end;
    // }

    &_img {
      width: 100%;
      height: 100%;
    }

    &_overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;

      background: rgba(0, 0, 0, 0.4);

      width: 100%;
      height: 100%;

      display: grid;
      place-items: center;
      transition: background 0.3s;
    }

    &_title {
      // width: 252px;
      padding: 0 30px;

      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: clamp(14px, 1.5vw, 30px);
      line-height: 40px;
      text-transform: uppercase;
      text-align: center;
      color: $white;

      opacity: 0;
      transition: opacity 0.3s;
    }
  }
}
