@import '../../mixins';
@import '../../variables';

.section6 {
  @include sectionBackground('../../assets/bg/bg-5.jpg', 0.6);

  @media (max-width: $tablet) {
    height: fit-content;
  }

  .container {
    @media (max-width: $tablet) {
      padding: 0;
    }
  }

  &_list {
    display: grid;
    width: fit-content;
    // grid-template-columns: 580px 420px 360px;
    grid-template-columns: 35vw 20vw 23vw;
    grid-template-rows: 55vh 25vh;
    margin: 0 auto;

    @media (max-width: $tablet) {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
    }
  }

  &_item {
    @include customBorders(0);

    cursor: pointer;

    &:hover {
      @media (min-width: $tablet) {
        @include customBorders(1);

        .section6_item_overlay {
          background: transparent;
        }
        .section6_item_title {
          opacity: 1;
        }
      }
    }

    &-active {
      @media (min-width: $tablet) {
        @include customBorders(1);

        .section6_item_overlay {
          background: transparent;
        }
        .section6_item_title {
          opacity: 1;
        }
      }
    }

    @media (min-width: $tablet) {
      &:nth-child(1) {
        width: 85%;
        height: 80%;
        justify-self: flex-end;
        align-self: flex-end;
      }

      &:nth-child(3) {
        width: 70%;
        align-self: flex-end;
      }

      &:nth-child(4) {
        width: 45%;
        justify-self: flex-end;
      }

      &:nth-child(5) {
        width: 80%;
      }
    }

    @media (max-width: $tablet) {
      @include customBorders(1);
      aspect-ratio: 1 / 1;

      &:last-child {
        grid-column: 1 / -1;
        aspect-ratio: 2 / 1;
      }
    }

    @media (max-width: $mobile) {
      &:last-child {
        grid-column: inherit;
        aspect-ratio: 1 / 1;
      }
    }

    &_img {
      width: 100%;
      height: 100%;
    }

    &_overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;

      background: rgba(0, 0, 0, 0.4);

      width: 100%;
      height: 100%;

      display: grid;
      place-items: center;
      transition: background 0.3s;

      @media (max-width: $tablet) {
        background: rgba(0, 0, 0, 0.2);
      }
    }

    &_title {
      padding: 0 15px;

      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      color: $white;

      opacity: 0;
      transition: opacity 0.3s;

      @media (max-width: $tablet) {
        opacity: 1;
        font-size: 18px;
      }

      @media (max-width: $mobile) {
        font-size: 14px;
      }
    }
  }
}
