@import '../../variables';

.banerInfo {
  &_title {
    font-family: 'Bruno Ace', cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 65px;
    color: rgba($black, $alpha: 0.8);

    border-bottom: 1px solid rgba($black, 0.15);
    margin-bottom: 31px;
  }

  &_description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: $black;
  }
}
