@import '../../variables';

.header {
  position: fixed;
  top: 0;
  left: min(9vw, 178px);
  z-index: $overAll;

  width: calc(100vw - min(9vw, 178px) * 2);
  // height: 120px;
  height: clamp(80px, 11vh, 120px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgba($white, 0.25);

  @media (max-width: $tablet) {
    width: 100vw;
    left: 0;
    
    padding-inline: 20px;

    position: absolute;
  }

  &_logo {
    display: none;
    @media (max-width: $tablet) {
      display: inherit;
    }
  }

  &_wrap {
    display: flex;
    align-items: center;
    // gap: 120px;
    gap: min(6vw, 120px);
  }

  &_burgerBtn {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &::before,
    &::after,
    span {
      content: '';
      height: 2px;
      background: $white;

      transform-origin: center;
      transition: all 0.3s;
    }

    &::before {
      width: 25px;
    }

    span {
      width: 14px;
    }

    &::after {
      width: 30px;
    }

    &-active {
      &::before,
      &::after,
      span {
        width: 30px;
      }

      &::before {
        transform: rotate(45deg) translate(5.5px, 5.5px);
      }

      span {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }

  &_phone {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: $white;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &_call {
    &_wrap {
      display: flex;
      align-items: center;
      // gap: 65px;
      gap: min(3vw, 65px);
    }

    &_subtitle {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      text-align: right;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $gold;

      @media (max-width: $mobile) {
        display: none;
      }
    }

    &_btn {
      width: 40px;
      height: 40px;

      background: rgba($white, 0.15);
      border-radius: 50%;

      display: grid;
      place-items: center;
      position: relative;

      transition: background 0.3s;

      &:hover {
        background: rgba($white, 0.25);

        &::after,
        &::before {
          opacity: 1;
        }
      }

      &::after,
      &::before {
        position: absolute;

        content: '';
        border-radius: 50%;

        opacity: 0;
        transition: opacity 0.3s;
      }

      &::after {
        width: 60px;
        height: 60px;

        border: 1px solid rgba($white, 0.3);
      }

      &::before {
        width: 80px;
        height: 80px;

        border: 1px solid rgba($white, 0.1);

        transition-delay: 0.15s;
      }

      &-active {
        svg {
          z-index: $middle;
        }

        &::after {
          background-color: $white;
          opacity: 1;
        }
      }
    }
  }
}

.menu__item--doner {
  flex-direction: column;
}
.menu__item--doner .line:nth-child(2) {
  width: 32px;
}
.menu__item--doner .line:nth-child(3) {
  width: 20px;
}
