@import '../../mixins';
@import '../../variables';

.section5 {
  @include sectionBackground('../../assets/bg/bg-5.jpg', 0.6);

  @media (max-width: $tablet) {
    height: 720px;
    padding-top: 50px;
  }

  &_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.3em;
    color: $white;

    width: fit-content;
    margin: min(160px, 12vh) auto 25px;

    @media (max-width: $tablet) {
      font-size: 18px;
      line-height: 22px;
      text-align: center;

      margin: 0 auto 50px;
    }

    @media (max-width: $mobile) {
      font-size: 16px;
    }
  }

  &_wrap {
    margin-left: min(100px, 5vw);

    display: flex;
    align-items: center;
    gap: 65px;

    @media (max-width: $tablet) {
      flex-direction: column;
      margin: 0;
      gap: 30px;
    }
  }

  &_control {
    width: 235px;
    height: 235px;

    position: relative;

    display: grid;
    place-items: center;

    &_value {
      position: absolute;

      font-family: 'Bruno Ace', cursive;
      font-weight: 400;
      font-size: 64px;
      line-height: 70px;
      color: $white;

      @media (max-width: $tablet) {
        font-size: 56px;
        line-height: 62px;
      }
    }

    &_btn_wrap {
      width: 8px;
      height: calc(50% + 4px);

      position: absolute;
      top: -4px;
      left: calc(50% - 4px);

      transform-origin: bottom;
    }

    &_btn {
      width: 8px;
      height: 8px;

      background: $gold;
      border-radius: 50%;

      position: relative;

      display: grid;
      place-items: center;

      transition: transform 0.3s;

      &:hover {
        transform: scale(1.75);
      }

      &::after,
      &::before {
        content: '';
        display: block;
        border-radius: 50%;

        position: absolute;

        opacity: 0;
        transition: opacity 0.3s;
      }

      &::after {
        width: calc(30px / 1.75);
        height: calc(30px / 1.75);

        border: 1px solid rgba(255, 172, 48, 0.5);
      }

      &::before {
        width: calc(46px / 1.75);
        height: calc(46px / 1.75);

        border: 1px solid rgba(255, 172, 48, 0.2);

        transition-delay: 0.15s;
      }

      &-active {
        transform: scale(1.75);

        &::after,
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &_details {
    display: grid;
    grid-template-columns: 80px 1fr 25px 2fr;
    align-items: center;
    gap: 30px;

    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
      justify-items: center;

      text-align: center;
    }

    &_title {
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 36px;
      line-height: 49px;
      text-transform: uppercase;
      color: $white;

      @media (max-width: $tablet) {
        font-size: 28px;
        line-height: 32px;
      }

      @media (max-width: $mobile) {
        font-size: 24px;
      }
    }

    &_description {
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      text-transform: uppercase;
      color: $white;

      @media (max-width: $tablet) {
        font-size: 16px;
        line-height: 26px;
      }

      @media (max-width: $mobile) {
        font-size: 14px;
        line-height: 22px;
      }
    }

    &_arrow {
      height: 25px;

      border-top: 1px solid $white;
      border-right: 1px solid $white;

      transform: rotate(45deg);

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  &_baner {
    @media (max-width: $tablet) {
      display: none;
    }
  }
}
