@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Open+Sans:wght@400;600&family=Roboto:wght@400;500&display=swap');

@import './variables';
// font-family: 'Bruno Ace', cursive;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  color: #fff;
  scroll-behavior: smooth;

  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  display: block;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: 0;
  &:focus {
    outline: none;
  }
}

section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 100%;
  height: 100vh;
  position: relative;
}

.container {
  padding: clamp(80px, 12vh, 120px) min(9vw, 178px) 0;

  @media (max-width: $tablet) {
    padding: 0;
  }

  @media (max-width: $mobile) {
    padding: 0 15px;
  }
}

.noScroll {
  overflow: hidden;
}
