@import '../../variables';
@import '../../mixins';

.navModal {
  &_list {
    display: flex;
    padding: clamp(80px, 12vh, 120px) min(9vw, 178px) 0;
    height: 100%;

    @media (max-width: $tablet) {
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: clamp(80px, 12vh, 120px) 0 0;
    }
  }

  &_item {
    flex: 1;

    @media (max-width: $tablet) {
      width: 100%;
      height: inherit;
    }
  }

  &_link {
    width: 100%;
    height: 100%;
    padding: 0 5px;

    display: grid;
    place-items: center;

    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;

    color: $white;
    transition: background 0.3s;

    @include customBorders(0);

    &:hover {
      background: rgba(0, 0, 0, 0.4);
      @include customBorders(1);
    }

    @media (max-width: $mobile) {
      font-size: 18px;
    }

    &-active {
      background: rgba(0, 0, 0, 0.4);
      @include customBorders(1);
    }
  }
}
